.Aspirin-C-1-hex { color: #225378; }
.Aspirin-C-2-hex { color: #1695A3; }
.Aspirin-C-3-hex { color: #ACF0F2; }
.Aspirin-C-4-hex { color: #f1f1f1; }
.Aspirin-C-5-hex { color: #EB7F00; }

body,h1,h2,h3,p,main,article,section,footer,aside,header,input{
margin: 0;
padding: 0;
text-decoration: none;


}

body{
    background-color: #3d7274;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    max-width: 750px;
    margin: auto;
    text-shadow: 1px 1px 5px black;
}
header{
    height: 40px;
    background-color: white;
}
    main{
        background-color: white;
        background-image: url(imagens/joanna-kosinska-7ACuHoezUYk-unsplash.jpg);
        background-position: left center;
        background-size: cover;
    }

h1{
    font-size: 2.5em;
    font-variant: small-caps;
}
h2{
    font-size: 1.5em;
}
img{
    margin: 5px 0px 0px 9px;
    height: 30px;
}
#color{
    padding: 20px;
    color: #fafafa;

    
}
#color p{
    font-size: 1.2rem;
}

.article{
    padding: 20px;   
}
.article2{
    padding: 20px;   
}
#from{
    display: block;
    background-color: #225378;
    padding:20px;
    color: #F3FFE2;
    text-align: center;
}
#from2{
    display: grid;
    grid-template-columns: 1fr;

}
#from2 input {
    margin: 10px 0;
    
}

#button{
    background-color: #EB7F00;
    color:#f1f1f1;
    width: 180px;
    padding: 3px;
    display: block;
    margin: 10px auto;
    font-size: 1rem;
    font-variant: small-caps;
    
}

@media screen and (min-width:570px){
    

    header{
    margin-top:10px;
    border-radius: 20px 20px 0 0;
    }
    main{
    border-radius: 0 0 20px 20px ;
    }

    #conteiner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    #from{
        border-radius: 0 0 20px 20px ;
        padding:20px 30px;
    }
    #from2{
        display: grid ;
        grid-template-columns: repeat(2,1fr);
        padding:0 30px;
    }
    #from2 input {
        margin: 0;
        
    }
    #button{
        margin: 20px auto 0;
    }
}